---
import { Image } from "astro:assets";
import uIUXIconImg from "./assets/ui-ux.png";
import mobileAppDevIcon from "./assets/mobile-dev.png";
import feDevIcon from "./assets/fe-dev.png";
import beDevIcon from "./assets/be-dev.png";
import fsDevIcon from "./assets/fs-dev.png";
---

<section id="services" class="my-20">
  <div class="section-heading">
    <span class="section-tag">our service</span>
    <h2 id="service-header" class="section-title">
      What{" "}
      <span class="service-title__highlight | custom-bg-green-accent">
        we offer
      </span>
    </h2>

    <p class="section-description">
      Unlock your business potential with our tailor-made software solutions.
      From custom web and mobile applications to cloud development and
      e-commerce platforms, we deliver high-quality solutions that drive growth
      and innovation.
    </p>
  </div>

  <div
    id="services-section__services"
    class="px-10 py-5 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-center justify-items-start md:justify-items-center gap-8"
  >
    <div id="product-design-service" class="services basis-1/3 rounded-xl p-7">
      <div class="service-icon w-full">
        <Image
          src={uIUXIconImg}
          alt="Product design icon"
          width={40}
          height={40}
        />
      </div>

      <div class="service-description">
        <h3 class="text-white text-xl font-semibold py-4">
          <span class="underline-green-accent">UI/UX</span> Design
        </h3>

        <p class="text-white font-light">
          We develop designs that encapsulate business idea and requirement
          through procedural designs for optimized interfacing and overall user
          experience.
        </p>
      </div>
    </div>

    <div
      id="mobile-development-service"
      class="services basis-1/3 p-7 rounded-xl"
    >
      <div class="service-icon w-full">
        <Image
          src={mobileAppDevIcon}
          alt="Product design icon"
          width={40}
          height={40}
        />
      </div>

      <div class="service-description">
        <h3 class="text-white text-xl font-semibold py-4">
          <span class="underline-green-accent">Mobile</span>{" "}
          Development
        </h3>

        <p class="text-white font-light">
          We offer mobile app development solutions for business looking to
          boost their operation and reach more customers. using top tech
          solutions, we create tailored solutions that help you reach you goals.
        </p>
      </div>
    </div>

    <div
      id="frontend-development-service"
      class="services basis-1/3 rounded-xl p-7"
    >
      <div class="service-icon w-full">
        <Image
          src={feDevIcon}
          alt="Product design icon"
          width={40}
          height={40}
        />
      </div>

      <div class="service-description">
        <h3 class="text-white text-xl font-semibold py-4">
          <span class="underline-green-accent">Front</span>-end development
        </h3>

        <p class="text-white">
          Secure, scalable and visually compelling front-end, back-end and
          full-stack development solution that is expressive of business
          requirements and reaching possible results of business operations.
        </p>
      </div>
    </div>

    <div
      class="md:col-span-3 flex flex-col md:flex-row justify-center h-auto hidden lg:flex"
    >
      <div
        id="backend-development-service"
        class="services basis-1/3 rounded-xl p-7 mb-7 md:mb-0 md:mr-7"
      >
        <div class="service-icon w-full">
          <Image
            src={beDevIcon}
            alt="Product design icon"
            width={40}
            height={40}
          />
        </div>

        <div class="service-description">
          <h3 class="text-white text-xl font-semibold py-4">
            <span class="underline-green-accent">Back</span>-end API development
          </h3>

          <p class="text-white">
            We create powerful server-side applications. From database design
            and optimization to API development, we ensure your system runs
            efficiently and securely.
          </p>
        </div>
      </div>

      <div
        id="fullstack-development-service"
        class="services basis-1/3 rounded-xl p-7"
      >
        <div class="service-icon w-full">
          <Image
            src={fsDevIcon}
            alt="Full-stack development icon"
            width={40}
            height={40}
          />
        </div>

        <div class="service-description">
          <h3 class="text-white text-xl font-semibold py-4">
            <span class="underline-green-accent">Full</span>-stack development
          </h3>

          <p class="text-white">
            We bridge the gap between front-end and back-end with our Fullstack
            Development proficiency. We'll handle everything from crafting
            intuitive user interfaces to implementing robust server logic.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @import "../../styles/main.scss";

  section {
    #service-header {
      #underline-header {
        width: 0px;
        max-width: 250px;
        height: 1px;
        background: $green-light;
        display: inline-block;
        visibility: hidden;
      }
    }

    #services-section__services {
      height: auto;

      .services {
        height: 350px;
        background-color: $secondary-color;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: all 300ms ease-in;

        .service-icon {
          margin-bottom: 1rem;
        }

        .service-description {
          width: 100%;
        }
      }
    }
  }
</style>
